@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter {
  @apply opacity-0;
}
.fade-enter-active {
  @apply opacity-100 transition-opacity duration-1000;
}
.fade-exit {
  @apply opacity-100;
}
.fade-exit-active {
  @apply opacity-0 transition-opacity duration-0;
}

